extends master-template.pug 

block head 
    title Home page
    style.
      
block body
    div(class="container-fluid")
        div(class="row sticky-top")
            div(class="col-10 mx-auto mt-3")
                ul(class="nav nav-pills nav-fill page-content",id="pills-tab",role="tablist")
                    li(class="nav-item")
                        a(class="nav-link active",id="pills-feed-tab",data-toggle="pill",href="#pills-feed",role="tab",aria-controls="pills-feed",aria-selected="true") Feed
                    li(class="nav-item")
                        a(class="nav-link",id="pills-search-tab",data-toggle="pill",href="#pills-search",role="tab",aria-controls="pills-search",aria-selected="false") Search
                    li(class="nav-item")
                        a(class="nav-link",id="pills-friends-tab",data-toggle="pill",href="#pills-friends",role="tab",aria-controls="pills-friends",aria-selected="false") Friends
                    li(class="nav-item")
                        a(class="nav-link",id="pills-profile-tab",data-toggle="pill",href="#pills-profile",role="tab",aria-controls="pills-profile",aria-selected="false") Profile
                    li(class="nav-item")
                        a(class="nav-link",href="/logout",role="tab",aria-controls="pills-profile",aria-selected="false") Logout 

        div(class="row")    
            div(class="col-10 mx-auto mt-3")
                div(class="tab-content page-content",id="pills-tabContent")
                    div(class="row")
                        div(class="col-6 mx-auto")
                            div(id="errorMessages",class="alert alert-danger hide")
                            div(id="successMessages",class="alert alert-success hide")
                    div(class="tab-pane fade show active",id="pills-feed",role="tabpanel",aria-labelledby="pills-feed-tab")
                        div(class="row")
                            div(class="col-12 mx-auto")
                                div panel 1
                    div(class="tab-pane fade",id="pills-search",role="tabpanel",aria-labelledby="pills-search-tab")
                        div(class="row")
                            div(class="col-12 mx-auto")
                                div(class="input-group mb-3") 
                                    input(type="text",id="searchSiteBar",class="form-control",placeholder="Search site",aria-label="Search site",aria-describedby="basic-addon2")
                                    div(class="input-group-append")
                                        button(class="btn btn-outline-secondary",id="searchSiteButton",type="button") Search
                        div(class="row")
                            div(class="col-12 mx-auto")
                                table(id="usersFullTable",class="table table-striped")
                                    thead   
                                        tr
                                            th(scope="row") Profile Pic
                                            th(scope="row") Username
                                            th(scope="row") FirstName
                                            th(scope="row") LastName
                                    tbody(id="userTable")
                                button(class="btn btn-success float-right mb-3",id="loadMoreUsers",type="button") Load More

                    div(class="tab-pane fade",id="pills-friends",role="tabpanel",aria-labelledby="pills-friends-tab")
                        div(class="row")
                            div(class="col-12 mx-auto")
                                div panel 3
                    div(class="tab-pane fade",id="pills-profile",role="tabpanel",aria-labelledby="pills-profile-tab")
                        div(class="row mt-3")
                            div(class="col-12")
                                img(height="300",src="/profile_images/defaultProfileImage.png",width="400",class="rounded mx-auto d-block" alt="No profile image selected" id="profileImage")
                        div(class="row mt-3")
                            div(class="col-6 mx-auto")
                                div(class="input-group")
                                    div(class="input-group-prepend")
                                        span(class="input-group-text") Profile Image
                                    input(type="text",class="form-control",id="imageLink",aria-label="Profile Image",placeholder="Link to image",maxlength="1000")
                        div(class="row mt-3")
                            div(class="col-6 mx-auto")
                                div(class="input-group")
                                    div(class="input-group-prepend")
                                        span(class="input-group-text") Biography
                                    textarea(class="form-control",id="bio",aria-label="Biography",maxlength="2000") 

                        div(class="row mt-3")
                            div(class="col-6 mx-auto")
                                div(class="input-group")
                                    div(class="input-group-prepend")
                                        span(class="input-group-text") Email
                                    input(type="email",class="form-control",id="email",aria-label="Email",placeholder="name@example.com",maxlength="300") 
                                div(class="input-group mt-3")
                                    div(class="input-group-prepend")
                                        span(class="input-group-text") Phone Number
                                    input(type="tel",class="form-control",id="phoneNumber",aria-label="Phone Number",maxlength="12") 
                        
                        div(class="row mt-3")
                            div(class="col-9")
                               button(class="btn btn-success float-right",id="saveChanges",type="button") Save Changes
        div(id="inspectUser",class="modal fade bd-example-modal-lg",tabindex="-1",role="dialog",aria-labelledby="myLargeModalLabel",aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="row")
                        div(class="col-6")
                            img(id="inspectProfileImage",height="200",src="/profile_images/defaultProfileImage.png",width="300",class="img-rounded d-block",alt="No profile image")
                        div(class="col-6")
                            h2 Username: 
                                b
                                    span(id="inspectUsername",class="label label-default") 
                            div FirstName: 
                                b
                                    span(id="inspectFirstName",class="label label-default") 
                            div LastName: 
                                b
                                    span(id="inspectLastName",class="label label-default") 
                            div Bio: 
                                b
                                    div(id="inspectBio",class="label label-default") 
                            div Email: 
                                b
                                    span(id="inspectEmail",class="label label-default") 
                            div Phonenumber: 
                                b
                                    span(id="inspectPhoneNumber",class="label label-default") 


                    
    script(src="/js/home.js")



