extends master-template.pug 

block head 
    title Login
block body 
    div(class="row text-center")
        div(class="col-4 mx-auto")
            form(id="loginForm",class="form-signin")
                h1(class="h3 mb-3 font-weight-normal") Please sign in 
                div(id="errorMessages",class="alert alert-danger hide")
                label(for="inputUsername",class="sr-only") Username
                input(type="text", id="inputUsername", class="form-control", placeholder="Username" required)
                label(for="inputPassword",class="sr-only") Password
                input(type="password", id="inputPassword", class="form-control", placeholder="Password" required)
                button(class="btn btn-lg btn-primary btn-block" type="submit") Sign in 
            a(href="/sign-up")
                button(class="btn btn-lg btn-primary btn-block") Create account 
                
    script.
        $(document).ready(()=>{
            $("#loginForm").submit((evt)=>{
                evt.preventDefault(); 
                $.ajax({type:"POST",url:"/login-attempt", data: {username: $("#inputUsername").val(), password: $("#inputPassword").val()}, success: (res)=>{
                    if(res === "wrong"){
                        $("#errorMessages").text("Either your email or password are incorrect.")
                        $("#errorMessages").removeClass("hide"); 
                        setTimeout(()=>{
                            $("#errorMessages").addClass("hide"); 
                        },10000)
                    }else if(res === "error"){
                        $("#errorMessages").text("There was an error try again in a little.")
                        $("#errorMessages").removeClass("hide"); 
                        setTimeout(()=>{
                            $("#errorMessages").addClass("hide"); 
                        },10000)
                    }else if(res === "success"){
                        window.location = "/home/feed"; 
                    }
                }}); 
            }); 
        }); 