extends master-template.pug 

block head 
    title Login
block body 
    div(class="row text-center")
        div(class="col-4 mx-auto")
            form(id="loginForm",class="form-signin")
                h1(class="h3 mb-3 font-weight-normal") Please sign in 
                label(for="inputEmail",class="sr-only") Email address
                input(type="email", id="inputEmail", class="form-control", placeholder="Email address" required)
                label(for="inputPassword",class="sr-only") Password
                input(type="password", id="inputPassword", class="form-control", placeholder="Password" required)
                button(class="btn btn-lg btn-primary btn-block" type="submit") Sign in 
            a(href="/sign-up")
                button(class="btn btn-lg btn-primary btn-block") Create account 
                
    script.
        $(document).ready(()=>{
            $("#loginForm").submit((evt)=>{
                evt.preventDefault(); 
                $.ajax({type:"POST",url:"/login-attempt", data: {email: $("#inputEmail").val(), password: $("#inputPassword").val()}, success: (res)=>{
                    console.log(res); 
                }}); 
            }); 
        }); 