extends master-template.pug 

block head 
    title Sign up 
block body 
    div(class="row text-center")
        div(class="col-4 mx-auto")
            form(id="loginForm",class="form-signin")
                h1(class="h3 mb-3 font-weight-normal") Create an account
                div(id="errorMessages",class="alert alert-danger hide") 
                label(for="inputUsername",class="sr-only") Username
                input(type="text", id="inputUsername", class="form-control", placeholder="Username" required)
                label(for="inputPassword",class="sr-only") Password
                input(type="password", id="inputPassword", class="form-control", placeholder="Password" required)       
                label(for="firstName",class="sr-only") FirstName
                input(type="text", id="firstName", class="form-control", placeholder="FirstName" required)
                label(for="lastName",class="sr-only") LastName
                input(type="text", id="lastName", class="form-control", placeholder="LastName" required)
                button(class="btn btn-lg btn-primary btn-block" type="submit") Create account 
            a(href="/")
                button(class="btn btn-lg btn-primary btn-block") Sign in 
    script.
        $(document).ready(()=>{
            $("#loginForm").submit((evt)=>{
                evt.preventDefault(); 
                $.ajax({type:"POST",url:"/sign-up-attempt", data: {username: $("#inputUsername").val(), password: $("#inputPassword").val(), firstName: $("#firstName").val(), lastName: $("#lastName").val()}, success: (res)=>{
                    if(res === "success"){
                        window.location = "/"; 
                    }else if(res === "registered"){
                        $("#errorMessages").text("This email is taken. Please select another.");
                        $("#errorMessages").removeClass("hide"); 
                        setTimeout(()=>{
                            $("#errorMessages").addClass("hide"); 
                        },10000);
                    }else{
                        $("#errorMessages").text("There was an error. Please try again.");
                        $("#errorMessages").removeClass("hide"); 
                        setTimeout(()=>{
                            $("#errorMessages").addClass("hide"); 
                        },10000);
                    }
                }}); 
            }); 
        }); 